@forward "base";
@forward "variables";
@forward "mixins";
@forward "default-settings";
@forward "personal-classes";
@forward "responsive";
@use "variables" as *;
@use "mixins" as *;


///////////////////// global ///////////////////////

//- play -//
.play {
  cursor: pointer;
  transition: .2s $ease-return;
  &:hover {transform: scale(1.1)}
  &.rotate {
    transform: rotate(-180deg);
    &:hover {transform: scale(1.1) rotate(-180deg)}
  }
}

//- close -//
.close {
  --top: 0;
  --right: 0;
  position: absolute;
  top: var(--top);
  right: var(--right);
}

