@use "@/styles/app" as *;

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // home // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#home {
  font-size: 16px;
  h1 {max-width: 20ch}
  .play {
    cursor: pointer;
    transition: .2s $ease-return;
    &:hover {transform: scale(1.1)}
    &.rotate {
      transform: rotate(-180deg);
      &:hover {transform: scale(1.1) rotate(-180deg)}
    }
  }
  .contup {
    display: flex;
    gap: .2em;
    position: relative;
    @include media(max, 1300px) {flex-wrap: wrap}
    .tag {
      @include absolute(auto,auto,-260px,-140px);
      font-family: 'League Gothic', sans-serif;
      font-weight: 400;
      font-size: clamp(15em, 18vw, 18.75em);
      letter-spacing: 0.385em;
      color: rgba(245, 245, 245, 0.44);
      z-index: -1;
    }
  }
  .container-slide {
    gap: 70px;
    width: 31.25em;
    &::-webkit-scrollbar {display: none}
    .v-card {
      width: 11em;
      aspect-ratio: 1 / 1;
      position: relative;
      background: center no-repeat;
      background-size: cover;
      background-image: var(--bg-img);
      background-color: #ffffff;
      .play {
        @include absoluteCenter;
      }
      #decoration {
        @include absolute(auto,0,-65px,0);
        z-index: -1;
      }
    }
  }
  #dataTable {
    background-color: transparent;
    font-family: var(--font2);
    thead {
      tr {
        th {}
      }
    }
    tbody {
      tr {
        td {}
        &:hover {background-color: transparent}
      }
    }
  }
}
