@use "@/styles/app" as *;

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // home // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#home {
  font-size: 16px;
  @include media(max, 600px) {font-size: 14px}
  @include media(max, 500px) {font-size: 12px}
  h1 {max-width: 20ch;font-size: clamp(2.5em, 4vw, 4em) !important}
  .contup {
    display: flex;
    gap: .2em;
    position: relative;
    @include media(max, 1300px) {flex-wrap: wrap}
    .tag {
      @include absolute(auto,auto,-260px,-140px);
      font-family: 'League Gothic', sans-serif;
      font-weight: 400;
      font-size: clamp(15em, 18vw, 18.75em);
      letter-spacing: 0.385em;
      color: rgba(245, 245, 245, 0.44);
      z-index: -1;
      @include media(max,small) {
        font-size: 100px;
        height: max-content;
        transform: rotate(-90deg);
        @include absolute(auto,-400px,-210px);
      }
      @include media(max,x-small) {
        @include absolute(auto,-400px,-180px);
      }
    }
  }
  #container-new-tracks {
    @include media(max, 400px) {
      flex-wrap: wrap !important;
      #track {
        --w: 100% !important;
      }
    }
  }
  .container-slide {
    gap: 70px;
    width: 31.25em;
    @include media(max,small) {width: clamp(10em, 90vw - 2em, 45em)}
    @include media(max,x-small) {width: clamp(10em, 100vw - 2em, 45em)}
    padding-right: 70px;
    &::-webkit-scrollbar {display: none}
    .v-card {
      width: 11em;
      aspect-ratio: 1 / 1;
      position: relative;
      background: center no-repeat;
      background-size: cover;
      background-image: var(--bg-img);
      background-color: #ffffff;
      .play {
        @include absoluteCenter;
      }
      #decoration {
        @include absolute(auto,0,-65px,0);
        z-index: -1;
      }
    }
  }
  #dataTable {
    background-color: transparent;
    font-family: var(--font2);
    // @include media(max, 530px) {font-size: 8px}
    table {border-spacing: 0 1em}
    thead {
      tr {
        th {font-size: 1.25em; border-bottom: 2px solid #000000}
      }
    }
    tbody {
      tr {
        td {
          &:nth-of-type(2) {font-size: 1em}
          &:is(:nth-of-type(1),:nth-of-type(3)) {span {font-size: 1.2em};h6 {font-size: 1.4em !important}}
          padding-bottom: 1em;
          border-bottom: 2px solid #000000;
        }
        &:hover {background-color: transparent}
      }
    }
    .v-data-table__mobile-row {padding-top: 14px}
  }
  blockquote {
    h6 {
      font-size: 20px !important;
    }
  }
}
