@use "@/styles/app" as *;

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // layout // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#layout {
  background: center no-repeat fixed;
  background-image: url(../../assets/images/bg.jpg);
  @include media(max, small) {background-image: url(../../assets/images/bg-mobile.jpg)};
  background-size: cover;
  // margins modifiable
  & .with {
    padding-block: 120px 100px !important;
    // @include media(max, x-small) {padding-bottom: 0 !important}
  }
  & .without {padding-block: 120px 0 !important}
}
