@use "@/styles/app" as *;

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // buy // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#buy {
  font-size: 16px;
  h1 {max-width: 20ch}
  .contup {
    display: flex;
    gap: .2em;
    position: relative;
  }
}
