@use "@/styles/app" as *;

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // login // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#login {
  background: center no-repeat fixed;
  background-image: url(../../assets/images/bg.jpg);
  @include media(max, small) {background-image: url(../../assets/images/bg-mobile.jpg)};
  background-size: cover;
  overflow: hidden;
  .v-main__wrap {
    padding-block: 120px 0px !important;
  }

  #audio {
    // @include absolute(auto,-135px,-140px);
    @include absolute(auto,-200px,-140px);
    z-index: 2;
  }
  #back {
    cursor: pointer;
    transition: .5s $ease-return;
    &:hover {transform: translateX(-10px)}
  }
  #records {
    z-index: 2;
    @include fixed(0,2em,0);
    animation: .5s $ease-return movedown;
  }
}
