/*-- global colors --*/
:root {
  /*--/ default color /--*/
  --bg-ap: #000000;
  --clr: #FFFFFF;
  --clr-inv: #111011;
  --clr-hover: hsl(288 90% 90%);
  --clr-scroll: var(--primary);
  --clr-bg-scroll: var(--secondary);
  /*--/ cards /--*/
  --clr-card: #191919;
  --clr-card-inv: #FFFFFF;
  /*--/ buttons /--*/
  --clr-btn: var(--primary);
  /*--clr-btn-pressed: #AD0FD5;
  --clr-btn-inactive: #AD0FD5;*/
  --clr-text-btn: #FFFFFF;
  /*--/ badge /--*/
  --clr-badge: var(--primary);
  --clr-text-badge: #000000;
}

/*-- personal clases --*/
.clr {color: var(--clr) !important}
.clr_inv {color: var(--clr-inv) !important}
.clr_btn {background-color: var(--clr-btn) !important}
.clr_btn_pressed {background-color: var(--clr-btn-pressed) !important}
.clr_btn_inactive {background-color: var(--clr-btn-inactive) !important}
.clr_text_btn {color: var(--clr-text-btn) !important}
.clr_card {background-color: var(--clr-card) !important}
.clr_card-inv {background-color: var(--clr-card-inv) !important}
.clr_svg {fill: var(--clr) !important}
.clr_svg_inv {fill: var(--clr-inv) !important}
.flr {filter: invert(100%) !important}
.flr_inv {filter: invert(0%) !important}
.clr_card_2 {background-color: var(--clr-card-2) !important}

