@use "@/styles/app" as *;

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // footer // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
.v-footer {
  transition: 0.5s $ease-return;
  @include media(max, small) {font-size: 18px !important}
  @include media(max, x-small) {font-size: 14px !important}
  .row {
    max-width: 80%;
    .v-input {
      .v-slider__track {
        &-container {border-radius: 10vmax;height: 5px; overflow: hidden}
      }
      .v-slider__thumb-label-container {
        * {color: #ffffff !important}
      }
    }
  }
}
